*{
    padding: 0 ;
    margin: 0 ;
}
body{
    font-family: 'Inter', sans-serif;
    /* font-family: 'Festive', cursive !important; */

}
.settings{
    width: 20px;
    height: 20px;
    /* margin-top: 10px; */
    
}
.active-link{
    background: #F9FAFB;
    border-radius: 8px;
}
.btn-upgrade{
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-size: 14px;
    padding: 0.5rem 17px;
}
button{
    outline: none !important;
    border: none !important;
}
.second_nav{
    font-size: 14px;
    color: #344054;
}
.search{
    width: 320px;
}
.import{
    border: 1px solid #667085 !important;
    border-radius: 8px;
    padding: 6px 12px 6px 12px;
    font-size: 14px;
}
.card{
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.img_wrap .chart {
    padding-top: 30px;
}
.img_wrap .fa-ellipsis-v {
    margin-top: -100px !important;
    margin-left: 130px !important;
}
.card h3{
    padding-top: 10px; 
    font-weight: 600;
}
.chart{
    width: 100px;
    margin-left: 30px;
}

.purple{
    color: #6941C6;
    font-size: 14px;
    padding: 10px 16px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    justify-content: space-between !important;
    background: #F9F5FF;
}
.filter{
    background: transparent;
    padding: 10px 16px;
    border: 1px solid #D0D5DD !important;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.pcontent{
    justify-content: space-between !important;
}
.search_bar{
    border: 1px solid rgb(141, 140, 140);
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    
}
.form-control{
    border: none;
    margin-top: 3px;
    font-weight: 500;

}
.table{
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06); 
    /* overflow: hidden !important; */
}
.avatar{
    width: 40px !important;
    height: 40px;
}
th{
    font-weight: 10;
    font-size: 16px;
}
@media (max-width:1024px) {
    /* .table{
        overflow: hidden;
    } */
}
@media (max-width:768px) {
   .card-body p{
       font-size: 8px !important;
   }
}
@media (max-width:768px) {
    .card p{
        font-size: 11px !important;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .card-body p{
        font-size: 9px !important;
    }
    .img_wrap .fa-ellipsis-v{
        margin-left:!important;
        position:relative;
        right:20px;
    }
    .chart{
        width: 90px;
        margin-top: 30px !important;
        
    }
    .icon{
        position: relative;
        right: 20px !important;
        /* padding: 0 !important; */
    }
}
@media (max-width:425px) {
    .filter{
        display: none;
    }
    .search_bar{
        display: none !important;
    }
}
